name: Publish to PyPI

on:
  release:
    types: [published]

jobs:
  pypi-publish:
    name: Build and publish to PyPI
    runs-on: ubuntu-latest
    
    # We create a specific environment for added security
    environment:
      name: pypi
      url: https://pypi.org/p/uncluttered
      
    # These permissions are mandatory for PyPI Trusted Publishing
    permissions:
      id-token: write 
      contents: read  

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install build dependencies
        run: python -m pip install --upgrade pip build

      - name: Build the distribution
        run: python -m build

      - name: Publish package to PyPI
        uses: pypa/gh-action-pypi-publish@release/v1
